PORT=3000
MONGODB_USER=utkusert2_db_user
MONGODB_PASSWORD=3hOtfv8fsAfgzOoZ
MONGODB_URL=cluster0.na8zsc2.mongodb.net
MONGODB_DB=contactsDB


ACCESS_TOKEN_SECRET=acces
REFRESH_TOKEN_SECRET=refresh

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=968969001@smtp-brevo.com
SMTP_PASSWORD=E6b4ARUGPsVnNzck
SMTP_FROM="goit <utkusert2@gmail.com>"

APP_DOMAIN=url
JWT_SECRET=jwt

CLOUDINARY_CLOUD_NAME=dswyzkdsd
CLOUDINARY_API_KEY=267423393981782
CLOUDINARY_API_SECRET=9Ec0mRi2UKoIqcUN4boqRlnT3ZA
ENABLE_CLOUDINARY=true
